body{
  text-align: center;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 86px;
  color: #272829;
  text-transform: uppercase;
  padding: 24px;

}

h2{
  color: #A8A196;
  text-shadow: 0px 0px 1px #A8A196;
}

.banner{
  height: calc(100vh - 64px);
  width: 100%;
}

.contact-list{
  position: absolute;
  background: #FFFF;
  list-style: none;
  border-radius: 8px;
  padding: 0;
  top: 30%;
  left: 0%;
  margin-bottom: 0;
}

.contact-list li{
  padding: 12px;
  margin: 18px;
  font-size: 34px;
}

.contact-list a{
  color: #272829;
}

.contact-list li:hover ,a:hover{
  color: #ec241a;
  transition: all 0.3s ease-in-out;
  /* border-radius: 4px; */
}

@media(max-width: 1400px){
  .contact-list {
      top: 29%;
  }

  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 24px;
    margin-left: 60px;
  }

  .navbar-hamburger{
    display: none;
  }

}

@media(max-width: 1240px){
   h1{
    font-size: 60px;
    padding: 0;
   }

  .contact-list{
    top: 24%;
  }

  .contact-list li{
    font-size: 28px;
  }

  .navbar-hamburger{
    display: none;
  }

}

@media(max-width: 1024px){
  h1{
    font-size: 54px;
    margin-left: 36px;
    padding: 0;
  }

  h2{
    font-size: 20px;
    margin-left: 70px;
  }
  .contact-list{
    top: 26%;
  }

  .navbar-right{
    display: inline-block;
  }

  .navbar-hamburger{
    display: none;
  }
}

@media(max-width: 768px){
  h1 {
      font-size: 48px;
      padding: 0;
  }

  h2{
    font-size: 18px;
  }

  .contact-list {
    top: 33%;
  }

  .contact-list li{
    font-size: 24px;
  }

  .navbar-right{
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #FFFEFE;
  }

  .navbar-right.active{
    left: 0;
  }

  .navbar-right-show {
    display: flex;
  }

  .navbar-show .navbar-right {
    display: flex;
  }

  .navbar-hamburger {
    font-size: 28px;
    cursor: pointer;
    display: block;
  }


}

@media(max-width: 660px){
  h1 {
      font-size: 42px;
      padding: 0;
  }

  h2{
    font-size: 16px;
  }

  .contact-list {
    top: 33%;
  }

  .contact-list li{
    font-size: 24px;
  }

  .navbar-right{
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    background-color: #FFFEFE;
    overflow: hidden;

  }

  .navbar-right.active{
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-right: 12px;
    box-shadow: 0px 4px 6px #88888878;
    width: 20%;
    left: 517px;
  }


  .navbar-right ul{
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    padding: 8px 18px;
  }

  .navbar-right ul li{
    margin-right: unset;
    margin-top: 22px;
    padding: 7px 6px;
    width: 100px;
  }

  .navbar-hamburger {
    font-size: 28px;
    cursor: pointer;
    display: block;
  }

  .navbar-right li:hover{
    background: red;
  }
}

@media(max-width: 550px){
  h1 {
      font-size: 48px;
      padding: 0;
      margin-left: 64px;
  }

  h2{
    font-size: 18px;
    margin-left: 68px;
  }

  .contact-list {
    top: 33%;
  }

  .contact-list li{
    font-size: 24px;
  }

  .navbar-right{
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    display: none;
    position: absolute;
    top: 64px;
    right: 0;
    width: 0;
    background-color: #FFFEFE;
    overflow: hidden;

  }

  .navbar-right.active{
    width: 270px;
  }

  .navbar-right ul{
    display: flex;
    flex-direction: column;
  }

  .navbar-right ul li{
    margin-right: unset;
    margin-top: 22px;
  }

  .navbar-hamburger {
    font-size: 28px;
    cursor: pointer;
    display: block;
  }
}


@media(max-width: 470px){
  h1 {
  font-size: 38px;
  padding: 0;
  margin-left: 64px;
 }

  h2{
  font-size: 15px;
  margin-left: 80px;
  }

  .navbar-right{
    gap: 0;
    flex-direction: column;
    text-align: center;
    transition: 0.3s;
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    background-color: #FFFEFE;
  }
  .contact-list{
    top: 30%;
  }

  .contact-list li{
    font-size: 24px;
  }


  .navbar-right.active{
    left: 0;
  }

  .navbar-right-show {
    display: flex;
  }

  .navbar-show .navbar-right {
    display: flex;
  }

  .navbar-hamburger {
    font-size: 28px;
    cursor: pointer;
    display: block;
  }
}
