.blog{
  background-color: #F6F7FB;
}


.my-blog {
    /* font-size: 16px; */
    color: #262A56;
    background-color: #FFFFFF;
    padding: 30px; /* Optional padding for content */
    /* box-sizing: border-box;  */
    margin-bottom: 20px;
    margin-top: 20px ;
    transition: background-color 0.3s; /* Add a smooth background color transition */
    /* font-family: 'Merriweather', serif; */
    display: flex;
    align-items: center;
    border-radius: 8px;
  }

.my-blog:hover {
  box-shadow: rgba(0, 44, 155, 0.15) 0px 10px 20px -2px;
  transform: translateY(-4px);
}

.blog-readmore{
  text-decoration: none;
}

.blog-readmore:hover{
  color: none;
}


  .blog1-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .blog-article-title,
  .blog-published {
    /* position: relative;  */
    /* z-index: 1; */
    font-weight: bold;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 18px;
    font-family: inter;
  }


  .blog-published{
    color: #A8A4A4;
    font-size: 14px;
  }

  .blog-content {
    flex: 1;
    text-align: justify;
  }

  .blog-photo {
    width: 450px;
    margin-right: 20px;
    border-radius: 4px;
    /* object-fit: cover; */
  }

  @media(max-width: 1024px){
    .blog-photo{
      width: 350px;
      height: 200px;
    }
    /* .my-blog{
      display: flex;
      flex-direction: column;
    } */
  }

  @media(max-width: 770px){
    .blog-photo{
      width: 460px;
      height: 200px;
      margin-bottom: 20px;
      margin-right: 0;
    }

     .my-blog{
      display: flex;
      flex-direction: column;
    }
  }

  @media(max-width: 541px){
    .blog-photo{
      width: 300px;

    }

    .my-blog{
      display: flex;
      flex-direction: column;
      width: 360px;
    }

  }
