.blog1 {
    font-size: 16px;
    background-color: rgb(245, 248, 250); /* Grey background color */
     /* 10% of viewport height */
    padding: 30px; /* Optional padding for content */
    box-sizing: border-box; /* Include padding in height calculation */
    margin-bottom: 20px;
    margin-top: 20px;
    transition: background-color 0.3s; /* Add a smooth background color transition */
    font-family: 'Merriweather', serif;
    display: flex;
    align-items: center;
  }
  
  .blog1:hover {
    background-color: rgb(220, 220, 220); /* Change background color on hover */
  }
  
  .blog1-link {
    display: block; /* Make the entire div clickable */
    text-decoration: none; /* Remove default link underline */
    color: inherit; /* Inherit text color from parent */
    font-family: 'Merriweather', serif;
  }
  
  /* Add your background image */
    
/* Style the content */

  .article-title,
  .published {
    position: relative; /* Create a stacking context for z-index */
    z-index: 1; /* Place the content above the background */
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .blog-content {
    flex: 1;
    
    
  }

  .blog-photo {
    width: 550px; /* Adjust the width of your photo */
    height: 200px; /* Adjust the height of your photo */
    margin-right: 20px;
    
  }