.navbar-me{
  font-family: 'Open Sans', sans-serif;
  background: #FFFEFE;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(46,46,46);
  text-transform: uppercase;
  font-weight: 700;
  height: 64px;
}

.navbar-logo{
  width: 48px;
  height: 40px;
}

.navbar-hamburger{
  font-size: 28px;
}

.nav-link{
  padding: 0;
}

.nav-link:hover{
  color: #ec241a;
  transition: all 0.3s ease-in-out;
}

/* .navbar-right {
  display: none;
} */

/* .navbar-show .navbar-right {
  display: flex;
} */

.navbar-hamburger {
  font-size: 28px;
  cursor: pointer;
}

@media(max-width: 470px){
  .navbar-logo{
    width: 30px;
    height: 30px;
    margin-top: -20px;
  }
  .navbar-hamburger{
    font-size: 18px;
  }
}
