.App {
  text-align: center;
  font-family: 'Merriweather', serif;
}



.App-header {
  background-color: rgb(255,255,255) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(46,46,46);
  /* font-family: 'merriweather'; */
}

.App-link {
  color: #61dafb;
}

/* App.css */

.start {
  font-size: 16px;
  background-color: rgb(245,248,250); /* Grey background color */
  height: 46vh; /* 10% of viewport height */
  padding: 30px; /* Optional padding for content */
  box-sizing: border-box; /* Include padding in height calculation */
}



.circular-photo {
  width: 200px; /* Adjust the width of your photo */
  height: 200px; /* Adjust the height of your photo */
  border-radius: 50%; /* Make it circular by setting border-radius to 50% */
  border: 12px solid #e3eaf2; /* Add a border (customize as needed) */
  display: block; /* Center the image horizontally */
  margin: 20px auto; /* Add margin to center the photo vertically */
  margin-bottom: 20px;
  object-fit: cover;
}



.me {
  margin-top: 24px;
  text-align: justify;
  letter-spacing: 0.01rem;
  line-height: 1.75rem;
  padding-top: 24px;
  display: flex;
  justify-content: end;
}

.sticky-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add spacing between icons and text */
}

.icon svg {
  margin-right: 10px; /* Add spacing between icon and text */
}

.footer {
  text-align: center; /* Center-align the footer content */
}

.footer-content {
  font-family: 'merriweather';
  display: flex;
  justify-content: space-between;
  align-items: center;
}
